* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Noto Sans", sans-serif;
}

/* main */

main {
  height: auto;
  border-bottom: 1px solid rgb(93, 182, 241);
  padding-bottom: 50px;
  position: relative;
  margin-top: 20px;
  width: 100%;
  top: 70px;
  text-align: justify;
}

.section1 {
  margin: 0 auto;
  font-size: 1.7rem;
  max-width: 90%;
}

.section1 a {
  text-decoration: none;
  color: red;
}

.section1 a:hover {
  text-decoration: underline;
}

.list {
  margin-left: 50px;
}

.imgList {
  text-align: center;
  position: relative;
  left: 10%;
}

.imgFecha {
  width: 40%;
  height: 400px;
  margin: auto;
  position: relative;
  left: 30%;
}

.red {
  color: red;
  font-size: 1.5rem;
}

.red:hover {
  border-bottom: 1px solid red;
}

/* Media queries*/

@media only screen and (max-width: 414px) {
  .imgList {
    width: 100%;
    height: 250px;
    margin: 0;
    right: 8%;
  }

  .imgFecha {
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    left: 0%;
    right: 5%;
  }

  main {
    text-align: justify;
  }

  .center {
    text-align: center;
  }

  .list {
    margin-left: 5%;
  }
}
