*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
}


/* Nav bar section */

.head{
    border: 1px rgb(93, 182, 241) solid;
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.904);
    top: 0px;
    
}

.head__logoContainer{
    
    position: relative;
    right: 5%;
    font-size: 1.7rem;
    font-family: 'Indie Flower', cursive; 
}

.head__navBar{
    
    width: 40%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.7rem;
}

.head__navBar--ul{
    display: flex;
    justify-content: space-evenly;

}

.head__navBar--ul a li{
    list-style: none;
    margin-bottom: -20px;
    margin-left: 10px;
    color: rgb(93, 182, 241);

}

.head__navBar--ul a {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    
}

a{
    text-decoration: none;
}

/* main */

main{
    height: auto;
    border-bottom: 1px solid rgb(93, 182, 241);
    padding-bottom: 50px;
    position: relative;
    margin-top: 20px;
    width: 100%;
    top: 70px;
    text-align: justify;
}

.section1{
    margin: 0 auto;
    font-size: 1.7rem;
    max-width: 90%;
    
}

.section1 a{
    text-decoration: none;
    color: red;
}

.red{
    color: red;
    font-size: 1.5rem;
}

.list{
    margin-left: 50px;
    
}


/* footer */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 90px;
    width: 100%;
   
}

.footer__quote{
    max-width: 20%;
    position: relative;
    font-size: 2rem;
    
}

.containerIcons{
    
  max-width: 100%;
}

.footer__icon--ul{
    
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__icon--ul a{
    margin: 30px;
    font-size: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: rgb(93, 182, 241);
}

.footer__icon--ul a i{
    padding-right: 10px;
}



/* Media queries*/
   


@media only screen and (max-width: 1177px) {
    

    
    .footer__quote{
        display: none;
    }


    .footer__quote{
        display: none;
    }

    .footer__icon--ul li{
        display: none;
        
    }

    .footer__icon--ul i{
        font-size: 3rem;
        margin: 0 30px 20px 30px;
        
    }
  
   
   
   
}



@media only screen and (max-width: 900px) {

    .head__logoContainer{
    
        position: relative;
        right: 5%;
        font-size: 1.2rem;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        left: 20px;
        font-size: 0.8rem;
        width: 30%;
    
        
    }

    .head__navBar{
    
        width: 60%;
       
    }

    .head__navBar li{
    
        display: none;
       
    }
  
    .footer__icon--ul i{
        font-size: 1.5rem;
        margin: 0;
        
    }

    .footer__icon--ul a{
        
        margin: 0 20px 15px 20px;
        
    }

   
}



  
@media only screen and (max-width: 414px) {
 
    .footer__icon--ul a{
        
        margin: 0 20px 20px 20px;
        
    }


}

@media only screen and (max-width: 320px) {
    
    

    .footer__icon--ul a{
        
        margin: 0 15px 20px 15px;
        
    }


}

