body{
  height: 100vh;
}
.container__contact {
  margin: 200px 0 0 0 ;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container__links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.container__links a {
  display: flex;
  padding: 5rem;
  font-size: 3rem;
  width: 300px;
  text-decoration: none;
  border: 0.5px solid rgb(212, 199, 199);
  align-items: center;
  border-radius: 3rem;
  margin: 1rem 0;
}

.container__links a i{
text-align: center;
margin: 0 auto;


}

.contacto__text {
  padding: 0 3rem;
  font-size: 2rem;
  width: 90%;
  height: auto;
  text-align: justify;
  margin: 0 auto;
}

.insta {
  color: rgba(228, 64, 95, 1);
  border-radius: 100px;
}

.insta:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(228, 64, 95, 1);
  transition: 0.8s;
}

.twitter {
  color: rgb(83, 167, 247);
  border-radius: 100px;
}

.twitter:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(83, 167, 247);
  transition: 0.8s;
}

.face {
  color: rgb(16, 114, 243);
  border-radius: 100px;
}

.face:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(16, 114, 243);
  transition: 0.8s;
}



@media only screen and (max-width: 360px) {
  .container__links a {
  
    width: 200px;
    padding:30px;
    
    
  
  }

  .contacto__text {
    font-size: 1.5rem;
    width: 100%;
    padding: 2rem;
  }
  
}
