.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(30, 142, 216);
  margin-top: 5.5rem;
  height: 5rem;
  color: white;
  font-size: 1.2rem;
}

.footer__icon--ul {
  width: 70%;
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon--ul li {
  border-radius: 2rem;
}

.footer__icon--ul a,
.footer__icon--ul i {
  color: white;
  text-decoration: none;
}

.footer__icon--ul i {
  margin: 0 4px;
}

@media only screen and (max-width: 768px) {
  .footer p {
    display: none;
  }

  .footer__icon--ul {
    width: 100%;
    justify-content: space-evenly;
  }
}
