.container_all {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .container__contact {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    font-size: 1.2rem;
    flex-direction: column;
    width: 100%;
  }
  
  .container__contact h1 {
    font-size: 4rem;
  }
  
  .container__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .container__links a {
    margin: 8px;
    border-radius: 2rem;
    width: 300px;
    padding: 3rem;
  }
  
  .container__links a i {
    text-decoration: none;
    font-size: 4rem;
  }
  .contacto__text {
    text-align: justify;
    width: 90%;
    font-size: 2.4rem;
  }
  
  .insta {
    color: rgba(228, 64, 95, 1);
  }
  
  .insta:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(228, 64, 95, 1);
    border-radius: 100px;
    padding: 20px;
    transition: 0.8s;
  }
  
  .twitter {
    color: rgb(83, 167, 247);
  }
  
  .twitter:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 167, 247);
    border-radius: 100px;
    padding: 20px;
    transition: 0.8s;
  }
  
  .face {
    color: rgb(16, 114, 243);
  }
  
  .face:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(16, 114, 243);
    border-radius: 100px;
    padding: 20px;
    transition: 0.8s;
  }
  
  @media only screen and (max-width: 650px) {
    .container__contact {
      margin-top: 80px;
    }
    .container__contact h1 {
      font-size: 2rem;
    }
  
    .container__links a i {
      text-decoration: none;
      font-size: 2rem;
    }
    .contacto__text {
      margin-top: 40px;
      font-size: 1.5rem;
    }
  }
  